<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='/images/dane.jpg' alt='A photo of a woman'/></li>
      <li><img src='/images/josh.jpg' alt='A photo of a person in a pool.'/></li>
    </ul>
  </body>
</html>